<div id="board" class="text-center">
  <button id="red"></button>
  <button id="green"></button><br>
  <button id="orange"></button>
  <button id="blue"></button>
  <div id="display-number"></div>
  <div id="board-controls">
    <button id="start">START</button>
    <button id="reset">RESET</button>
  </div>
</div>

<audio id="audio-red" src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3"></audio>
<audio id="audio-blue" src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3"></audio>
<audio id="audio-orange" src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3"></audio>
<audio id="audio-green" src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3"></audio>
