button {
  height: 200px;
  width: 200px;
  border: 15px solid black;
}

button:focus {
  outline: none;
}

#board {
  margin-top: 5%;
  padding: 0px;
}

#red, #green {
  margin: auto;
}

#blue {
  background-color: blue;
  background: linear-gradient(135deg, blue, darkblue);
  margin-left: -5px;
  border-bottom-right-radius: 75px;
}

#orange {
  background-color: orange;
  background: linear-gradient(135deg, orange, darkorange);
  border-bottom-left-radius: 75px;
}

#green {
  background-color: green;
  background: linear-gradient(135deg, green, darkgreen);
  margin-left: -5px;
  border-top-right-radius: 75px;
}

#red {
  background-color: red;
  background: linear-gradient(135deg, red, darkred);
  border-top-left-radius: 75px;
}

/* Controls */

#board-controls {
  margin-top: -140px;
}

#board-controls button {
  width: 150px;
  height: 50px;
  border: 0px;
  margin-top: 2px;
}

#start, #reset {
  background-color: lightgray;
}


/* Display */
#display-number {
  background-color: black;
  width: 140px;
  height: 140px;
  position: relative;
  z-index: 99;
  top: -270;
  left: 570;
  /*margin-left: 450px;
  margin-top: -250px;*/
  border-radius: 75px;
  padding-top: 50px;
  color: white;
  font-size: 28px;
}
